<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
      <div class="topnav" id="myTopnav">
          <a class="active" href="{{ url_for('redirect_index')}}">Acceuil</a>
          <div class="dropdown">
              <button class="dropbtn">Services
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                  <a href="/redirect_import_csv">Importer (csv)</a>
                  <a href="/redirect_export_csv">Exporter (csv)</a>
              </div>
          </div>
          <a id="nom">BA Demba INF2B2</a>
      </div>
    <h1 style="text-align:center;">{% block title %} TOUDOU {% endblock %}</h1>
    <div class="center">
        {% block content %} {% endblock %}
    </div>
    </body>
</html>