{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
	    <script>alert("{{ messages[0] }}");</script>
  {% endif %}
{% endwith %}

<div style="display:flex; justify-content: center;" class="divform">
    <form action="{{ url_for('old_app.modifier') }}" method="post">
        {{ form.csrf_token }}
        {{ form.id }}
        <div>
            {{ form.task.label }}
            {{ form.task }}
        </div>
        <div>
            {{ form.status.label }}
            {{ form.status }}
        </div>
        <div>
            {{ form.due.label }}
            {{ form.due }}
        </div>
        <input type="submit" id="ok" value="Envoyer">
    </form>

</div>


{% endblock %}